<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.ViewStockNameQueryMapper">

    <resultMap id="BaseResultMap" type="com.equipment.model.view.ViewStockNameQuery">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="equipmentCode" column="equipment_code" jdbcType="VARCHAR"/>
            <result property="equipmentDate" column="equipment_date" jdbcType="DATE"/>
            <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
            <result property="taskCode" column="task_code" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="warehouseManagerCode" column="warehouse_manager_code" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="isAdditional" column="is_additional" jdbcType="TINYINT"/>
            <result property="isTransfer" column="is_transfer" jdbcType="TINYINT"/>
            <result property="equipmentStatus" column="equipment_status" jdbcType="TINYINT"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="warehouseManagerName" column="warehouse_manager_name" jdbcType="VARCHAR"/>
            <result property="equipmentName" column="equipment_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,equipment_code,equipment_date,
        user_code,task_code,remarks,
        type,warehouse_manager_code,create_time,
        update_time,is_deleted,is_additional,
        is_transfer,equipment_name,user_name,warehouse_manager_name,
        equipment_name
    </sql>
</mapper>
